<a href="https://colab.research.google.com/github/ENESBERKEINAL/GoogleColabCVS_PYTHON/blob/main/CVSPROG.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import openpyxl
#change

In [ ]:
from google.colab import drive
drive.mount('/gdrive')

Mounted at /gdrive

In [ ]:
from random import random
import csv
with open('/gdrive/MyDrive/sublist.csv') as csv_file:
    csv_reader = csv.reader(csv_file, delimiter=',')
    line_count = 0
    for row in csv_reader:
        if line_count == 0:
            print(f'Column names are {", ".join(row)}')
            line_count += 1
        else:
            print("\n")
            for k in range(0,7):
              print(row[k], end=" ")
            line_count += 1
    
    print(f'\n Processed {line_count} lines.')

Column names are Username, Subscribe Date, Current Tier, Tenure, Streak, Sub Type, Founder


smellnes 2019-07-16T13:09:24Z Tier 3 17 17 recurring false

hroogeiirr 2020-11-19T16:45:13Z Tier 1 2 1 prime true

afsdasgsfcgdvsvanydjjajcu 2020-11-21T11:06:14Z Tier 1 6 4 prime true

bandebi 2020-11-17T20:22:14Z Tier 1 3 3 prime true
 Processed 5 lines.

In [ ]:
import pandas as pd
df = pd.read_csv('/gdrive/MyDrive/sublist.csv', index_col='Username')
print(df)

                                 Subscribe Date  ... Founder
Username                                         ...
smellnes                   2019-07-16T13:09:24Z  ...   False
hroogeiirr                 2020-11-19T16:45:13Z  ...    True
afsdasgsfcgdvsvanydjjajcu  2020-11-21T11:06:14Z  ...    True
bandebi                    2020-11-17T20:22:14Z  ...    True

[4 rows x 6 columns]

In [ ]:
df.sample()
#Tenure abone süresi kaç aylık olduğu

                                 Subscribe Date Current Tier  ...  Sub Type  Founder
Username                                                      ...
afsdasgsfcgdvsvanydjjajcu  2020-11-21T11:06:14Z       Tier 1  ...     prime     True

[1 rows x 6 columns]

df = pd.read_excel('/gdrive/MyDrive/sublist.csv') # can also index sheet by name or fetch all sheets
mylist = df['column name'].tolist()

In [1]:
df['Tenure']
df[ df.iloc[:,2]>= 2 ]

NameError: ignored

In [ ]:
df.columns

Index(['Subscribe Date', 'Current Tier', 'Tenure', 'Streak', 'Sub Type',
       'Founder'],
      dtype='object')

In [ ]:
df = df.rename(columns={'Current Tier': 'Current_Tier'})

In [ ]:
dk=df.loc[(df.Tenure>=3)]

In [ ]:
from csv import reader
# read csv file as a list of lists
with open('/gdrive/MyDrive/sublist.csv', 'r') as read_obj:
    # pass the file object to reader() to get the reader object
    csv_reader = reader(read_obj)
    # Pass reader object to list() to get a list of lists
    list_of_rows = list(csv_reader)
    print(list_of_rows)

[['Username', 'Subscribe Date', 'Current Tier', 'Tenure', 'Streak', 'Sub Type', 'Founder'], ['smellnes', '2019-07-16T13:09:24Z', 'Tier 3', '17', '17', 'recurring', 'false'], ['hroogeiirr', '2020-11-19T16:45:13Z', 'Tier 1', '2', '1', 'prime', 'true'], ['afsdasgsfcgdvsvanydjjajcu', '2020-11-21T11:06:14Z', 'Tier 1', '6', '4', 'prime', 'true'], ['bandebi', '2020-11-17T20:22:14Z', 'Tier 1', '3', '3', 'prime', 'true']]

In [ ]:
dk.sample()

                Subscribe Date Current_Tier  Tenure  Streak   Sub Type  Founder
Username
smellnes  2019-07-16T13:09:24Z       Tier 3      17      17  recurring    False

In [ ]:

from pandas import DataFrame 
  

  
df = DataFrame('/gdrive/MyDrive/sublist.csv', columns = ['Username', 'Tenure']) 
  

print("Original data frame:\n") 
print(df) 
  
# Selecting the product of Price greater  
# than or equal to 25000 
select_prod = df.loc[df['Tenure'] >= 1] 
  
print("\n") 
  
# Print selected rows based on the condition 
print("Selecting rows:\n") 
print (select_prod)

ValueError: ignored